<h1>Payment Calculation</h1>
<form action="/payment/results">
  <label for="apr">APR</label>
  <input type="text" name="apr" placeholder="APR eg 4.1" id="apr">
  <label for="years">Number of years</label>
  <input type="text" name="years" placeholder="Years eg 30" id="years">
  <label for="princip">Principal</label>
  <input type="text" name="princip" placeholder="Principal eg 250000" id="princip">
  <div>
  <button>Calculate monthly payment</button>
</form>
