<h1>Square of a number</h1>

<h1>The square of <%= @user_number%> is <%= @square %></h1>

<form action="/square/results">
  <label>Enter a number</label>
  <input type="text" name="user_number" placeholder="What number do you want to square?">
  <div>
  <button>Calculate square</button>
</form>
