<h1>Square of a number</h1>
<form action="/square/results">
  <label for="number_input">Enter a number</label>
  <input type="text" name="user_number" placeholder="What number do you want to square?" id="number_input">
  <div>
  <button>Calculate square</button>
</form>
