<h1>Word Count</h1>
<form action="/word_count/results">
  <label for="text">Text</label>
  <textarea type="text" name="text" placeholder="Text Here" id="text" rows="3"></textarea>
  <label for="special">Special Word</label>
  <input type="text" name="special" placeholder="Special Word Here" id="special">
  <div>
  <button>Process text</button>
</form>
